@charset "UTF-8";
header{
    background-color: #232323;
    color: #ffff;
    text-align: center;
    padding: 1rem;
}

.parent{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    color: #f64348;
}

.child{
    font-size: 2rem;
    color: #7fffd4;
}